/*
 Helpers
----------------------
*/

* {
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.clear { clear: both; }
.hidden { display: none; }
.invisible { opacity: 0; }
.right { float: right; }
.left { float: left; }
.nobr {white-space: nowrap} 
.right-align {text-align: right; }

.serif {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-weight: lighter;
}

.italic {
  font-style: italic;
}

/* Common styles
-------------------------------------------------------------------------------*/

html {
  margin: 0; padding: 0; 
  -webkit-font-smoothing: antialiased;
}

img { border: none; }

body { 
  margin: 0; padding: 0;
  background: #F0F1EB;
  color:#444;
  font:14px/26px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; color:#111;
  line-height:1.5em;
}

a {
  text-decoration:none;
  color: #51483D;
  border-bottom: 1px solid #ccc;
  padding: 0 0 1px 0;
}

a:hover {
  color: #000;
  border-bottom: 1px solid #999;
}


p { margin: 0 0 10px 0; }
p.info {
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}


h1, h2, h3, h4, h5, h6 { padding: 10px 0 5px 0; }
h3, h4, h5, h6 { padding-top: 20px; }

/* Title */
h1 {
  padding-top: 0px; margin-top: 0; 
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 35px;
  line-height: 40px;
}
h2 { font-size: 120%; padding-bottom: 15px; }

/* Common styles
-------------------------------------------------------------------------------*/

#container { width: 1100px; margin: auto; }


div {
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

/* Header */

#header {
  font-family: 'HelveticaNeue-Light';
  color: #383D3D;
  font-size: 24px;
  overflow: auto;
  padding: 40px 0;
}

#header .title { float: right; width: 720px; }
#header .channel { float: left; }


/* Main */

#wrapper {  }

/* Browser */

#browser { float: left; width: 330px; }


#documents a { border: none; }
#documents .document { 
  padding: 10px;
  margin-bottom: 5px;
}

#documents .document:hover {
  background: rgba(54, 73,39, 0.2)
}

#documents .document .title {
  font-weight: bold;
  font-size: 17px;
}

#documents .document .teaser {
  margin-top: 5px;
  color: #7C7C7C;
  font-size: 12px;
}

#documents .document .published {
  color: #383D3D;
  font-size: 14px;
}


#documents .document.active .published { color: #CCDDB8; }
#documents .document.active .title {  color: #CCDDB8; }
#documents .document.active .teaser { color: #719952; }





#documents .document.active { 
  background: #26351C;
  color: rgba(255,255,255, 0.8);
}

/* Documents */

#document {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  float: right;
  width: 720px;
  line-height: 1.4em;
  font-size: 1.15em;
  counter-reset: section;
}

#document  h2, h3, h4 {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  
}

#document h2:before{
  counter-increment: section;
  content: counter(section) "";
  
  background: #364927;
  color: #D1E0E0;
  
  margin-right: 20px;
  padding: 2px 5px;
  font-weight: bold;
}

#document #lead {
  font-family: 'Helvetica Neue';
  font-size: 21px;
  line-height: 25px;
  color: #989998;
  margin-bottom: 20px;
}

#footer {
  margin-top: 50px;
  margin: 20px 0;
  margin-left: 380px;
}

/* Document Styles */

code, pre {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 12px;
}

code {
  padding: 0px 3px;
  background: white;
  border: 1px solid #DDD;
  zoom: 1;
}

pre {
  padding: 2px 10px 2px 15px;
  border-left: 4px solid #BBB;
  margin: 10px 0px;
  background: white;
}

pre code {
  background: none;
  border-color: transparent;
}

